name: Run tests

on:
  push:
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [ dependency_trigger ]
  
jobs:
  run:
    uses: ClotildeToullec/TestingWorkflows/.github/workflows/run-tests.yml@main
    secrets: inherit
    with:
      create-artifact: true
